---
page_title: "Imports with generated config"
description: Using terraform generate-config-out to import resources
---


# Requirements

* Terraform >= 1.5.0

# Importing resources using terraform generate-config-out

Since 1.5.0 terraform introduce a new option to import and generates `.tf` files.

1. Set imports into your `.tf` files

{{ tffile "examples/resources/ybm_allow_list/import.tf" }}

2. Run the plan command with generate-config-out option

```shell
terraform plan -generate-config-out=generated_resources.tf
```

A new file generated_resources.tf should be created with the VPC resources

{{ tffile "examples/resources/ybm_allow_list/generated_resources.tf" }}

3. Run apply to finalize the import

```shell
terraform apply
```