---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}


## Example Usage

{{ tffile "examples/resources/ybm_allow_list/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
{{- if .HasImport }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/ybm_allow_list/import.sh" }}

Since terraform 1.5.0 you can also use [generate-config-out](https://developer.hashicorp.com/terraform/language/import/generating-configuration), please check Guides>Imports section.

{{- end }}