---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}


## Example Usage

To create a single region cluster by using common credentials for both YSQL and YCQL API

{{ tffile "examples/resources/ybm_cluster/single-region-common-credentials.tf" }}

To create a single region cluster by using distinct credentials for both YSQL and YCQL API

{{ tffile "examples/resources/ybm_cluster/single-region-distinct-credentials.tf" }}

To create a multi region cluster by using common credentials for both YSQL and YCQL API

{{ tffile "examples/resources/ybm_cluster/multi-region-common-credentials.tf" }}

To create a multi region cluster by using distinct credentials for both YSQL and YCQL API

{{ tffile "examples/resources/ybm_cluster/multi-region-distinct-credentials.tf" }}

To create an AWS Cluster with Customer Managed Keys

{{ tffile "examples/resources/ybm_cluster/single-region-aws-cmk.tf" }}

To create a GCP Cluster with Customer Managed Keys

{{ tffile "examples/resources/ybm_cluster/single-region-gcp-cmk.tf" }}

To create an Azure Cluster

{{ tffile "examples/resources/ybm_cluster/single-region-azure.tf" }}

{{ .SchemaMarkdown | trimspace }}
