---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}


## Example Usage

To create Datadog integration

{{ tffile "examples/resources/ybm_integration/datadog-integration.tf" }}

To create Grafana integration

{{ tffile "examples/resources/ybm_integration/grafana-integration.tf" }}

To create Sumologic integration

{{ tffile "examples/resources/ybm_integration/sumologic-integration.tf" }}

To create Prometheus integration

{{ tffile "examples/resources/ybm_integration/prometheus-integration.tf" }}

To create VictoriaMetrics integration

{{ tffile "examples/resources/ybm_integration/victoriametrics-integration.tf" }}

To create GoogleCloud integration

{{ tffile "examples/resources/ybm_integration/googlecloud-integration.tf" }}

{{ .SchemaMarkdown | trimspace }}
