---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}


## Example Usage - GCP VPC with Global CIDR

{{ tffile "examples/resources/ybm_vpc/gcp-global-cidr.tf" }}

## Example Usage - AWS regional VPC

{{ tffile "examples/resources/ybm_vpc/aws-regional-VPC.tf" }}

## Example Usage - Azure VPC with auto-CIDR

{{ tffile "examples/resources/ybm_vpc/azure-vpc.tf" }}

{{ .SchemaMarkdown | trimspace }}
