---
page_title: {{ .RenderedProviderName }} Provider
description: |-
  {{ .Description | prefixlines "  " }}
---

# {{ .RenderedProviderName }} Provider

{{ .Description }}

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}

