---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}


## Example Usage

{{ tffile "examples/data-sources/ybm_associate_db_audit_export_config_cluster/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
